.c-button
    background-color: $brand-color
    color: white
    padding: 13px 40px
    display: inline-block
    border: 0
    font-size: 20px
    cursor: pointer
    font-family: Lato
    font-weight: bold
    border-radius: 5px
    transition: background-color 0.2s ease-in-out
    text-align: center
    outline: none

    &:hover
        background-color: darken($brand-color, 10%)

    &:active
        transform: translateY(1px)
