.c-hero
    background-image: url('/dist/img/clavecimbel-closeup.jpg')
    background-size: cover
    background-position: center center
    display: flex
    align-items: center

    &__text-overlay
        width: 100%
        background-color: rgba(white, 0.8)
        color: #222
        padding: 80px 0
        text-align: center

        .l-wrapper
            max-width: 500px

        h1
            margin-bottom: 15px
            font-size: 40px
