.c-newsletter
    padding: 80px 0
    text-align: center

    &__wrapper
        +tablet-desktop
            display: flex
            justify-content: center

    &__input
        height: 50px
        font-size: 18px
        font-family: Lato
        padding: 0 10px
        margin-bottom: 20px
        margin-right: 10px
        border: 1px solid #367d87
        border-radius: 5px

        +mobile
            width: 100%

        +tablet-desktop
            width: 350px
