.c-newsletter
    padding: 80px 0
    text-align: center

    &__wrapper
        display: flex
        justify-content: center

    &__input
        height: 50px
        font-size: 18px
        font-family: Quattrocento
        padding: 0 10px
        margin-bottom: 20px
        width: 350px
        margin-right: 10px
        border: 1px solid #367d87

    &__submit
        height: 50px
        background-color: #367d87
        color: white
        padding: 0 40px
        display: inline-block
        border: 0
        font-size: 20px
        cursor: pointer
