<div class="c-newsletter">
    <div class="l-wrapper">
        <div id="mc_embed_signup">
            <form action="https://meer-bach.us20.list-manage.com/subscribe/post?u=f9edb910c8a60198a156d18d6&amp;id=9a31f2223b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2 property="newsletter-title"></h2>
                    <div class="c-newsletter__wrapper">
                        <input class="c-newsletter__input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail adres" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e4b7a807d9ef3845d9d633b54_27e278f4cc" tabindex="-1" value=""></div>
                        <div class="clear"><input class="c-button" type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
