<!doctype html>

<html>
<head>
    <!-- @include "head.kit" -->
</head>

<body>
    <div mv-app="mavo" mv-storage="https://github.com/wouter-muller/meer-bach.nl" mv-plugins="tinymce">
        <!-- @include "header.kit" -->

        <div class="c-content">
            <div class="l-wrapper">
                <h1 class="c-heading --xxl" property="agenda-title">Agenda</h1>

                <p property="agenda-content" class="tinymce">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, asperiores delectus nostrum, unde sequi commodi cupiditate sint enim voluptate adipisci reiciendis quam sunt ipsam reprehenderit ea. Accusamus ipsum, repellendus. Incidunt!</p>

                <div class="c-table">
                    <div class="c-table__row c-events__event" property="events" mv-multiple mv-attribute="none">
                        <div class="c-table__cell c-events__date js-date" property="event-date"></div>
                        <div class="c-table__cell c-events__date " property="event-time">21:00</div>
                        <div class="c-table__cell c-events__title" property="event-title"></div>
                        <div class="c-table__cell c-events__location" property="event-location"></div>
                    </div>
                </div>

            </div>
        </div>

        <!-- @include "counter.kit" -->
        <!-- @include "newsletter.kit" -->
        <!-- @include "footer.kit" -->

    </div>
</body>

</html>
