<!doctype html>

<html>
<head>
    <!-- @include "head.kit" -->
</head>

<body>
    <div mv-app="mavo" mv-storage="https://github.com/wouter-muller/meer-bach.nl" mv-plugins="tinymce">
        <!-- @include "header.kit" -->

        <div class="c-content">
            <div class="l-wrapper">
                <h1 class="c-heading --xxl" property="agenda-title"></h1>

                <p property="agenda-content" class="tinymce"></p>

                <div class="c-table u-mb">
                    <div class="c-table__row c-events__event tinymce" property="events" mv-multiple mv-attribute="none">
                        <div class="c-table__cell c-events__date js-date" property="event-date"></div>
                        <div class="c-table__cell c-events__date " property="event-time"></div>
                        <div class="c-table__cell c-events__title tinymce" property="event-title"></div>
                        <div class="c-table__cell c-events__location tinymce" property="event-location"></div>
                    </div>
                </div>

                <p property="agenda-archive-link" class="tinymce"></p>

            </div>
        </div>

        <!-- @include "counter.kit" -->
        <!-- @include "newsletter.kit" -->
        <!-- @include "footer.kit" -->

    </div>
</body>

</html>
