<!doctype html>

<html>
<head>
    <!-- @include "head.kit" -->
</head>

<body>
    <div mv-app="mavo" mv-storage="https://github.com/wouter-muller/meer-bach.nl" mv-plugins="tinymce">
        <!-- @include "header.kit" -->

        <div class="c-content">
            <div class="l-wrapper">
                <h1 class="c-heading --xxl" property="anbi-title">Anbi</h1>

                <p class="tinymce">De Stichting MeerBach heeft een aanvraag lopen voor een "culturele Anbi", op deze pagina worden de gegevens gepubliceerd om aan de publicatie plicht te voldoen.<br /><br />Statutaire naam: Stichting MeerBach<br />RSIN 8595.42.865&nbsp; &nbsp; &nbsp;<br />KVK 73472646<br /><br>Het bestuurswerk is onbezoldigd; ofwel het bestuur ontvangt geen vergoeding voor de voor bestuursfunctie noodzakelijke werkzaamheden.<br /><br />De stichting MeerBach beschikt niet over een directie of over personeel dat in dienst is.&nbsp; &nbsp;<br /><br />Aan het eind van het "eerste boekjaar" wordt op deze pagina een financi&euml;el overzicht gepubliceerd betreffende de baten en lasten.<br /><br /><a title="Beleidsplan Stichting MeerBach" href="public/Beleidsplan-Stichting-MeerBach.pdf" target="_blank" rel="noopener">Link naar beleidsplan</a></p>

            </div>
        </div>
        <!-- @include "agenda.kit" -->
        <!-- @include "newsletter.kit" -->
        <!-- @include "footer.kit" -->

    </div>
</body>

</html>
