<!doctype html>

<html>
<head>
    <title>Stichting Meerbach - Onze stichting zet zich in om het muziekinstrument klavecimbel te promoten</title>
    <meta name="description" content="Dit doen wij door het organiseren van allerlei activiteiten op het gebied van oude muziek en met oude instrumenten, voor meer informatie zie onze agenda.">
    <!-- @include "head.kit" -->
</head>

<body>
    <div mv-app="mavo" mv-storage="https://github.com/wouter-muller/meer-bach.nl">
        <!-- @include "header.kit" -->
        <!-- @include "hero.kit" -->
        <!-- @include "counter.kit" -->
        <!-- @include "agenda.kit" -->
        <div class="c-background-image"></div>
        <!-- @include "newsletter.kit" -->
        <!-- @include "footer.kit" -->
    </div>
</body>

</html>
