<!doctype html>

<html>

    <head>
        <!-- @include "includes/head" -->
    </head>

    <body>
        <header class="s-header">
            <div class="s-header__lines">
                <div class="s-header__line --one"></div>
                <div class="s-header__line --two"></div>
                <div class="s-header__line --three"></div>
                <div class="s-header__line --four"></div>
                <div class="s-header__line --five"></div>
            </div>
            <div class="l-wrapper">
                <div class="s-header__logo">
                    <!-- @include "../../dist/img/logo.svg" -->
                </div>
                <div class="s-header__menu">HAMBURGER</div>
            </div>

        </header>
    </body>

</html>
