<!doctype html>

<html>
<head>
    <!-- @include "head.kit" -->
</head>

<body>
    <div mv-app="mavo" mv-storage="https://github.com/wouter-muller/meer-bach.nl">
        <!-- @include "header.kit" -->

        <div class="c-content">
            <div class="l-wrapper --small">
                <h1 class="c-heading --xxl">Over ons</h1>

                <h2 class="c-heading --xl">“Meer Bach en meer dan Bach”</h2>

                <p>De Stichting MeerBach is in 2019 opgericht. De twee doelen van de stichting zijn:</p>

                <ol>
                    <li>Meer Bach: meer stukken van Bach ten gehore brengen aan een brede doelgroep. Wij willen de schoonheid en pracht van de muziek van Bach in het algemeen, en die van het klavecimbel in het specifiek bekend(er) maken onder een brede doelgroep, zoals jongeren, dertigers, etc. </li>

                    <li>Meer dan Bach: er bestaat prachtige Barokmuziek op het klavecimbel die niet dezelfde bekendheid geniet als de muziek van Bach, maar die zeker de moeite waard is. Onze missie is deze muziek te laten horen aan dezelfde brede doelgroep als hierboven benoemd.</li>
                </ol>

                <p>De naam MeerBach heeft ook een derde en persoonlijke noot. De oprichter van de stichting, Robert Koolstra, is sinds 2018 woonachtig te Meerstad, een woonplaats ten oosten van de stad Groningen. Het meer horende bij Meerstad biedt een mooie balans van ontspanning en inspanning. </p>

                <p>Het eerste grote project van de stichting is om een klavecimbel aan te schaffen.  Dit instrument wordt op zoveel mogelijk terreinen gebruikt om de oude muziek in het algemeen en het muziekinstrument klavecimbel in het bijzonder te promoten. Onder andere het gerenommeerde Luthers Bach Ensemble zal hier gebruik van maken.</p>

                <p>Het promoten van het klavecimbel zal onder andere gebeuren door het organiseren van een serie van klavecimbel soloconcerten. Naast gevestigde namen willen we hier ook een podium bieden aan jonge, talentvolle klavecinisten.</p>

                <p>In 2019 wordt er een muziekproject ontwikkeld voor het basisonderwijs om jonge kinderen in contact te brengen met klassieke muziek.</p>

                <p>In het seizoen 2021/2022 zal Robert Koolstra het complete klavecimbel solowerk van Johan Sebastiaan Bach uitvoeren op het nieuwe klavecimbel en in samenwerking met de Stichting Oude Groninger Kerken in een serie van vijftien concerten.</p>

             </div>
        </div>
        <!-- @include "counter.kit" -->
        <!-- @include "newsletter.kit" -->
        <!-- @include "footer.kit" -->
    </div>

</div>
</body>

</html>
