<!doctype html>

<html>
<head>
    <!-- @include "head.kit" -->
</head>

<body>
    <div mv-app="mavo" mv-storage="https://github.com/wouter-muller/meer-bach.nl" mv-plugins="tinymce">
        <!-- @include "header.kit" -->

        <div class="c-content">
            <div class="l-wrapper --small">
                <h1 class="c-heading --xxl" property="support-us-title"></h1>

                <p property="support-us-content" class="tinymce"></p>

                <div>
                    <h2 property="counter-title"></h2>
                    <p property="counter-paragraph"></p>
                    <p><a href="https://bunq.me/meerbach" class="c-button" target="_blank" property="payment-button2" mv-attribute="none"></a></p>
                    <p property="counter-explanation"></p>
                </div>

            </div>
        </div>

        <!-- @include "footer.kit" -->

    </div>
</body>

</html>
