.s-footer
    padding: 80px 0
    background-color: lighten($brand-color, 50%)

    &__wrapper
        text-align: center

    &__contact
        margin-bottom: 40px

    &__social-media
        margin-bottom: 40px

        a
            margin-left: 15px
            margin-right: 15px

        svg
            width: 40px
            height: 40px
